In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('tips.csv')

### Methods to find missing values of the given dataset

In [4]:
df.isnull().sum()

Unnamed: 0     0
total_bill    39
tip            0
sex            0
smoker         0
day            0
time           0
size           0
dtype: int64

In [5]:
df.isnull().sum().sum()

39

In [9]:
df['total_bill'].isnull().sum()

39

In [7]:
df.notnull().sum()

Unnamed: 0    244
total_bill    205
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [10]:
df.notnull().sum().sum()

1913

In [11]:
df['total_bill'].notnull().sum()

205

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  244 non-null    int64
 1   total_bill  205 non-null    float64
 2   tip         244 non-null    float64
 3   sex         244 non-null    object
 4   smoker      244 non-null    object
 5   day         244 non-null    object
 6   time        244 non-null    object
 7   size        244 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

In [13]:
df.isna().sum()

Unnamed: 0     0
total_bill    39
tip            0
sex            0
smoker         0
day            0
time           0
size           0
dtype: int64

In [14]:
df.isna().sum().sum()

39

### To handle missing values:

### 1. Mean, median and Mode imputation

In [15]:
df = pd.read_csv('tips.csv',usecols=['total_bill','tip','time'])

In [25]:
m=df["total_bill"].mean()
m

21.36019512195122

In [26]:
df['total_bill']=df['total_bill'].fillna(m)

In [30]:
df.head()

   total_bill   tip    time  total_bill_median
0   16.990000  1.01  Dinner          16.990000
1   21.360195  1.66  Dinner          21.360195
2   21.010000  3.50  Dinner          21.010000
3   23.680000  3.31  Dinner          23.680000
4   24.590000  3.61  Dinner          24.590000

### 2.Handle the categorical data in the tips dataset with the relevant approaches such as label-encoding, one hot encoding, ordinal encoding.

In [36]:
for col in df.columns:
    print(col,":", len(df[col].unique()), 'labels')

total_bill : 195 labels
tip : 123 labels
time : 2 labels
total_bill_median : 195 labels